DATABASE_URL=postgresql://postgres.jbylckbmpzzwguusctxt:[susmita#369]@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres
CORS_ORIGINS=http://localhost:5173,http://localhost:5174,http://localhost:5175
GRID_CARBON_INTENSITY_G_PER_KWH=700
